body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:##cfc9ba;
}

/* Global */
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#ffffff;
  border:10;
  padding-left: 20px;
  padding-right:20px;
  color:#000000;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background:#cfc9ba;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#000000 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:center;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:center;
}

header #branding h1{
  margin:0;
}

header nav{
  float:center;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#000000;
  font-weight:bold;
}

header a:hover{
  color:#000000;
  font-weight:bold;
}

/* Showcase1 */
#showcase1{
  min-height:600px;
  text-align:center;
  color:#000000;
  background-image:url('../img/leaf1.png');
  background-repeat: no-repeat;
  background-size: 100%auto;
}

#showcase1 h1{
  margin-top:100px;
  margin-bottom:10px;
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.25);
}

#showcase1 p{
  font-size:20px;
}

/* Showcase2 */
#showcase2{
  min-height:600px;
  text-align:center;
  color:#000000;
}

#showcase2 h1{

  margin-top:100px;
  margin-bottom:10px;
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.25);
}

#showcase2 p{
  font-size:20px;

}

/* Showcase3 */
#showcase3{
  min-height:600px;
  text-align:center;
  color:#000000;
}

#showcase3 h1{

  margin-top:100px;
  margin-bottom:10px;
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.25);
}

#showcase3 p{
  font-size:20px;
}

/* Showcase4 */
#showcase4{
  min-height:600px;
  text-align:center;
  color:#000000;
}

#showcase4 h1{
  margin-top:100px;
  margin-bottom:10px;
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.25);
}

#showcase4 p{
  font-size:20px;
}

/* My Story*/
#mystory1{
  float:center;
  text-align: center;
  width:90%;
  padding:50px;
}

#mystory1 p{
  float:right;
}

#mystory1 img{
  width:250px;
}

#mystory2{
  float:center;
  text-align: center;
  width:90%;
  padding:50px;
}

#mystory2 p{
  float:right;
}

#mystory2 img{
  width:250px;
}

#mystory3{
  float:center;
  text-align: center;
  width:90%;
  padding:50px;
}

#mystory3 p{
  float:right;
}

#mystory3 img{
  width:250px;
}

/* My Blog*/
#myblog{
  float:center;
  text-align: center;
  width:90%;
  padding:50px;
}

#myblog p{

}

#myblog img{
  width:500px;
}

/* Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#938d7e
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Boxes */
#boxes{
  margin-top:1px;
  margin-bottom:1px;
}

#boxes .box{
  float:center;
  text-align: center;
  width:100%;
  padding:10px;
}

#boxes .box img{
  width:150px;
}



/* Sidebar */
aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
}

/* Main-col */
article#main-col{
  float:left;
  width:65%;
}

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#000000;
  background-color:#cfc9ba;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
