body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#cfc9ba;
}

/* Global */
.container2{
  width:80%;
  margin:auto;
  overflow:hidden;
}
/*
.container_newsletter{
  float:right;
  padding-top:15px;
  padding-right: 250px;
}

.container2{
  padding-left: 250px;
}
*/
ul{
  margin:0;
  padding:0;
}

.button_1{
  height:38px;
  background:#ffffff;
  border:10;
  padding-left: 20px;
  padding-right:20px;
  color:#000000;
  margin-top: 2%;
  margin-bottom: ;
}

.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}

/* Header **/
header{
  background: #cfc9ba;
  /* background:#938d7e; */
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#000000 3px solid;
}

header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
}

header li{
  float:center;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:center;
}

header #branding h1{
  margin:0;
}

header nav{
  float:center;
  margin-top:10px;
}

header .highlight, header .current a{
  color:#000000;
  font-weight:bold;
}

header a:hover{
  color:#000000;
  font-weight:bold;
}

/* Index.html - Showcase1 */
#showcase1{
  height:800px;
  text-align:center;
  color:#000000;

  /* background-image:url('../img/leaf1.png'); */
  background-repeat: no-repeat;

}

#showcase1 h1{
  margin-top:100px;
  margin-bottom:10px;
  font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.25);
}

#showcase1 p{
  font-size:20px;
}

/* Index.html - Showcase2 */
#showcase2{
  background-color: #686633;
  height:600px;
  text-align:center;
  color:#000000;
}

#showcase2 h2{
  margin-top:100px;
  margin-bottom:10px;
  font: 400 70px/0.8 'Great Vibes', Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.25);
}

#showcase2 p{
  font-size:20px;

}

/* Index.html - Showcase3 */
#showcase3{
  height:550px;
  text-align:center;
  color:#000000;
}

#showcase3 h2{
  position: absolute;
  margin-top:40px;
  margin-left: 15%;
  margin-bottom:10px;
  font: 400 40px/0.8 'Roboto', Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.25);
}

#showcase3 li{
  position: relative;
  text-align: left;
  margin-top: 54px;
  margin-left: 60%;
  font-size:16px;
}

/* Index.html - Showcase4 */
#showcase4{
  height:auto;
  text-align:center;
  color:#000000;
  background-color: #686633;
}

#showcase4 h2{
  margin-top:100px;
  margin-bottom:20px;
  font: 400 40px/0.8 'Roboto', Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 4px 3px rgba(0,0,0,0.25);
}

#showcase4 p{
  font-size:20px;
}

#showcase4 img{
  width:350px;
  padding: 50px;
}

/* About.html - My Story*/
#mystory{
  float:center;
  text-align: left;
  width:100%;
  padding:50px;
}

#mystory p{
  width: 50%;
}

#mystory img{
  width:auto;
  float:right;
}



/* Services.html - Services1*/
#services1{
  float:center;
  text-align: center;
  padding:50px;
  /*background-image:url('../img/leaf1.png');
  background-repeat: no-repeat;
  background-size: 100%auto;*/
}

#services1 h3{
  text-align: left;
  width: 50%;
}

#services1 h4{
  text-align: left;
  width: 50%;
}

#services1 p{
  text-align: left;
  width: 50%;
}

#services1 img{
  width:250px;
}

#services2{
  float:center;
  text-align: center;
  padding:50px;
}

#services2 h3{
  text-align: left;
  padding-left: 50%;
}

#services2 h4{
  text-align: left;
  padding-left: 50%;
}

#services2 p{
  text-align: left;
  padding-left: 50%;
}


#services2 img{
  width:250px;
}

#services3{
  float:center;
  text-align: center;
  padding:50px;
}

#services3 h3{
  text-align: left;
  width: 50%;
}

#services3 h4{
  text-align: left;
  width: 50%;
}

#services3 p{
  text-align: left;
  width: 50%;
}

#services3 img{
  width:250px;
}

/* Blog.html - My Blog*/
#myblog{
  float:center;
  text-align: center;
  width:90%;
  padding:50px;
}

#myblog p{

}

#myblog img{
  width:500px;
}

/* Global - Newsletter */
#newsletter{
  padding:15px;
  color:#ffffff;
  background:#938d7e
}

#newsletter h1{
  float:left;
}

#newsletter form {
  float:right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  padding:4px;
  height:25px;
  width:250px;
}

/* Global - Boxes */
#boxes{
  margin-top:1px;
  margin-bottom:1px;
}

#boxes .box{
  float:center;
  text-align: center;
  width:100%;

}

#boxes .box img{
  width:150px;
}

.row {
  
}

/* Sidebar */
/* aside#sidebar{
  float:right;
  width:30%;
  margin-top:10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
  width:90%;
  padding:5px;
} */

/* Main-col */
/* article#main-col{
  float:left;
  width:65%;
} */

/* Services */
ul#services li{
  list-style: none;
  padding:20px;
  border: #cccccc solid 1px;
  margin-bottom:5px;
  background:#e6e6e6;
}

footer{
  border-top:#000000 3px solid;
  padding:20px;
  margin-top:0px;
  color:#000000;
  background-color:#cfc9ba;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  /* header{
    padding-bottom:20px;
  } */

  /* #showcase h1{
    margin-top:40px;
  } */

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}

/* Style all font awesome icons */
.fa {
  padding: 10px;
  margin: 10px;
  font-size: 10px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
